<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of favorites; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.description }}</td>
      <td><img src="{{ article.image }}" alt="" /></td>
      <td>{{ article.category }}</td>
      <td style="width: 0">
        <button class="btn btn-danger" (click)="remove(article)" type="button">
          REMOVE FROM FAVORITES
        </button>
      </td>
    </tr>
  </tbody>
</table>
